body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #d5d3d3;
}

.calculator {
    height: 50vh;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(44, 41, 41);
    padding: 40px;
    text-align: center;
}

#display {
    width: 90%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    box-shadow: 0 0 3px 3px rgb(178, 174, 174);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.number {
    background-color: #c9c9c9;
}

#calc{
    background-color: green;
    color: white;
}

.operator, .calculate {
    background-color: #ffa500;
    color: #fff;
}

.clear {
    background-color: black;
    color: #fff;
}